:root {
  --primary-purple: #9370db;
  --secondary-purple: #9400d3;
  --primary-gray: #808080;
  --secondary-gray: #141414;
  --primary-red: #ff0000;
  --secondary-red: #dc143c;
  --primary-blue-green: #08b8c6;
  --secondary-blue-green: #39c6d1;
  --gradient-default: linear-gradient(
    90deg,
    rgba(8, 184, 198, 1) 0%,
    rgba(147, 112, 219, 1) 80%,
    rgba(220, 20, 60, 0.8) 100%
  );
}
